<app-loading></app-loading>

<ion-header>
  <ion-toolbar class="ion-text-center">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> -->
    <ion-img src="assets/icon/logo_navbar.png"
      style="width: 62px !important; margin-top: 28px !important; margin-left: calc(50vw - 29px);"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <div id="container">
      <ion-list>

        <ion-item *ngFor="let ticket of meustickets">
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>{{ticket.descricaoEvento}}</h2>
                <p>{{ticket.descricaoDiaSemana}}, {{ticket.diaNoMes}}, de {{ticket.descricaoMes}}, {{ticket.ano}}</p>
                <p>Setor: {{ticket.setor}}</p>
                <p>Valor: {{ticket.valor}}</p>
                <p>QRCODE: {{ticket.qrcode}}</p>
                <p>Abertura: 23:00</p>
                <p>Show: 00:00</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>
  </ion-card>
</ion-content>

<app-tab-menu></app-tab-menu>