<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
       <ion-title>Selecione uma data</ion-title>
       <ion-img src="assets/imgs/logo_login.png" class="add-item"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card>
    <div id="container">
      
      <ion-list *ngFor="let data of datas; let i = index;">
        
        <ion-item (click)="selecionarSetor(i)">
          <ion-label>
            <ion-row >
              <ion-col>
                <p>{{data.dataInicio}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>
  </ion-card>

</ion-content>
