<app-loading></app-loading>
<ion-header>
  <ion-toolbar class="text-center">
    <ion-row>
      <ion-col size="2" class="toolbar-buttons">
        <i class="fa fa-angle-left fa-lg color-white" (click)="back()" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="8" class="toolbar-text">
        <ion-title>Meu ticket</ion-title>
      </ion-col>
      <ion-col size="2" class="toolbar-buttons">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" text-center>
        <ngx-qrcode [value]="qrCode"></ngx-qrcode>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <ion-row no-padding>
      <ion-col size="12">
        <p class="txt-medium txt-bold color-white" no-margin>{{ dadosCompra.evento?.titulo }}</p>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="2" class="img-btn-icon">
            <img src="assets/icon/ic_calendario.png">
          </ion-col>
          <ion-col size="9">
            <p class="txt-smaller color-white" no-margin>
              {{ getDateFormated(dadosCompra.evento?.dataInicio, 'DD [de] MMMM') }} à
              {{ getDateFormated(dadosCompra.evento?.dataFim, 'DD [de] MMMM') }}
            </p>
            <p class="txt-smaller txt-bold color-white" no-margin>
              {{ getDateFormated(dadosCompra.evento?.dataInicio, 'dddd') }} à
              {{ getDateFormated(dadosCompra.evento?.dataFim, 'dddd') }} das
              {{ getDateFormated(dadosCompra.evento?.dataInicio, 'hh:mm') }} às
              {{ getDateFormated(dadosCompra.evento?.dataFim, 'hh:mm') }}
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2" class="img-btn-icon">
            <img src="assets/icon/ic_endereco.png">
          </ion-col>
          <ion-col size="9">
            <p class="txt-smaller txt-bold color-white">{{ dadosCompra.evento?.nomeLocal }}</p>
            <p class="txt-smaller color-white">{{ dadosCompra.evento?.local }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

</ion-content>