

<ion-header class="register">

  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button defaultHref="'/meu-carrinho'"></ion-back-button>
          <!-- <ion-back-button defaultHref=""></ion-back-button> -->
    </ion-buttons>
    <ion-title class="ion-text-center imgHeaderPages">
      <ion-img class="imgHeader" src="assets/imgs/logo_login.png"></ion-img>
    </ion-title>
</ion-toolbar>

</ion-header>

<ion-content padding>
  
    <div [ngClass]="classDisplay()" class="credit-card ion-margin-bottom">
      <ion-img [src]="" 
                class="flag ion-margin-end"></ion-img>
      <ion-text color="secondary"><b>NUmero cartão</b></ion-text>
    </div>

    <div class="main-data">
      <ion-input type="tel" 
                 placeholder="Número" >
      </ion-input>

      <ion-input type="text" placeholder="Nome" 
                  class="firstCharupperCase" >
      </ion-input>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input type="number" 
                       placeholder="MM" maxlength="2">
            </ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"  
                       placeholder="AA" maxlength="2"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number" placeholder="cvv" maxlength="3">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
  <ion-button expand="block" size="large" class="ion-margin-top" (click)="cadastrar()">Concluir</ion-button>
</ion-content>