<ion-header class="register">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="'/pagamento-cartao'" [routerLink]="['/pagamento-cartao']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center imgHeaderPages">
      <ion-img class="imgHeader" src="assets/imgs/logo_login.png"></ion-img>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <!-- <ngx-qrcode [value]="'value'" class="imgQrcode"></ngx-qrcode> -->
</ion-content>