<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Compra</ion-title>
    <ion-img src="assets/imgs/logo_login.png" class="add-item"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" text-center>
          <img [src]="dadosEvento?.imagemUrl">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <div id="container">
      <ion-list>
        <ion-item>
          <ion-row>
            <ion-col>
              <h1 class="color-blue" style="font-weight: 550;">{{dadosEvento?.titulo}}</h1>
              <p>{{dadosEvento?.descricao}}</p>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Data</h2>
                <p>{{dadosEvento?.dataInicio}}</p>
                <p>Abertura: 23:00</p>
                <p>Show: 00:00</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <i class="fa fa-ban fa-2x" aria-hidden="true"></i>
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Censura</h2>
                <p>{{dadosEvento?.censura}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Local</h2>
                <p>{{dadosEvento?.local}}</p>
                <p class="color-blue-link" style="font-size: 11px;">Mostrar no mapa</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>
  </ion-card>

  <ion-card>
    <div id="container">
      <ion-list>
        <ion-item>
          <ion-row>
            <ion-col>
              <p>Detalhes da compra</p>
              <p>-------------------</p>
              <p>-------------------</p>
              <p>-------------------</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

  <ion-card>
    <div id="container">
      <ion-list>
        <ion-item>
            <ion-col text-center>
              <p>Ingressos</p>
            </ion-col>
        </ion-item>

        <ion-item class="container" *ngFor="let item of [1,2,3,4,5]">
            <ion-col size="9">
              <p>Ingresso Nº {{item}}</p>
            </ion-col>
            <ion-col size="3" text-right>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </ion-col>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

</ion-content>