<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/escolher-ingresso"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Informações do evento</ion-title> -->
    <ion-img src="assets/imgs/logo_login.png" class="add-item"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <div id="container">
      <ion-list>

        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Pós Forrozão</h2>
                <p>Quinta, 23 de Julho</p>
                <p>Abertura: 23:00</p>
                <p>Show: 00:00</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>


        <ion-item *ngFor="let item of meuCarrinho.ingressos">
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Setor: {{item.setor == 1 ? 'Pista' : item.setor == 2 ? 'Camarote' : ''}}</h2>
                <p>{{item.descricao}}</p>
                <p>QTD: {{item.qtdeSelecionada}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Total: {{valorTotal}}</h2>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="primary" (click)="avancarPagamento()">
                  AVANÇAR
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>



      </ion-list>
    </div>
  </ion-card>





</ion-content>