<app-loading></app-loading>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="txt">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" *ngIf="form != null">
    <ion-card padding class="box">

      <ion-row>
        <ion-col class="ion-no-padding">
          <h4 class="color-white">Dados Iniciais</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <p class="txt-bold txt-smaller color-white">Nome Completo</p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-input class="input" type="text" placeholder="Digite seu nome" autocomplete="name" formControlName="nome">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <p class="txt-bold txt-smaller color-white">CPF</p>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-input class="input" type="text" maxlength="14" [brmasker]="{person: true}" [ngClass]="{'input-error': form.get('cpf').value && form.get('cpf').errors}" formControlName="cpf"
                placeholder="999.999.999-99"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <p class="txt-bold txt-smaller color-white">Data de Nascimento</p>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-input class="input txt-small color-secondary" min="1940-01-01" [max]="maxDate" type="date">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <p class="txt-bold txt-smaller color-white">Gênero</p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <select class="input txt-small color-secondary" formControlName="genero" style="width: 100%; padding-left: 10px;">
            <option value="">Selecione...</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="N">Não informar</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <p class="txt-bold txt-smaller color-white">E-mail</p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-input class="input" type="email" [ngClass]="{'input-error': form.get('email').value && form.get('email').errors}" formControlName="email" placeholder="email@email.com"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <p class="txt-bold txt-smaller color-white">Confirmar e-mail</p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-input class="input" type="email" [ngClass]="{'input-error': form.get('email1').value && form.get('email1').errors}" formControlName="email1" placeholder="email@email.com"></ion-input>
        </ion-col>
      </ion-row>

    </ion-card>

    <ion-row padding (click)="termCheck = !termCheck">
      <ion-col size="1">
        <img src="assets/icon/ic_check_off.png" *ngIf="!termCheck" style="width: auto;" height="16px" />
        <img src="assets/icon/ic_check_on.png" *ngIf="termCheck" style="width: auto;" height="16px" />
      </ion-col>
      <ion-col size="11">
        <p style="margin-top: 0px !important;" class="txt-smaller color-white">Ao se cadastrar, você concorda com os <a
            class="color-blue txt-bold">Termos e
            condições</a></p>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col size="12">
        <button class="btn-white txt-medium txt-bold"  [disabled]="!form.valid && termCheck" (click)="submit()" >Continuar</button>
        <!-- <button class="btn-white txt-medium txt-bold"  [routerLink]="['/login/criar-senha']" >Continuar</button> -->
      </ion-col>
    </ion-row>

  </form>
</ion-content>



<!-- <ion-content class="container">
  <ion-card>
    <form [formGroup]="form">
      <ion-list style="background: white">
        <ion-item color="white">
          <ion-input type="text" formControlName="name" autocomplete="username" autocapitalize=words
            placeholder="{{ 'PAGE_SIGNUP_FULLNAME' | translate }}">
          </ion-input>
        </ion-item>
        
        <ion-item color="white">
          <ion-input type="email" [ngClass]="{'is-valid': form.get('email').errors}" autocomplete="email"
            formControlName="email" placeholder="E-mail">
          </ion-input>
        </ion-item>

        <ion-item color="white">
          <ion-input type="email" [ngClass]="{'is-valid': form.get('confirmEmail').errors}"
            formControlName="confirmEmail" autocomplete="email"
            placeholder="{{ 'PAGE_SIGNUP_CONFIRM_EMAIL' | translate }}">
          </ion-input>
        </ion-item>

        <ion-item color="white">
          <ion-input type="password" [ngClass]="{'is-valid': form.get('password').errors}" autocomplete="new-password"
            formControlName="password" placeholder="{{ 'PAGE_LOGIN_PASS' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('password').dirty && form.get('password').invalid" >
          <ion-label color="danger"><small>{{ 'PAGE_SIGNUP_MSG_MIN_PASS' | translate}}</small></ion-label>
        </ion-item>

        <ion-item color="white">
          <ion-input type="password" [ngClass]="{'is-valid': form.get('confirmPassword').errors}"
            formControlName="confirmPassword" autocomplete="new-password"
            placeholder="{{ 'PAGE_SIGNUP_CONFIRM_PASS' | translate }}">
          </ion-input>
        </ion-item>
        <ion-label *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
          <div class="error-form" *ngIf="form.get('confirmPassword').errors">
            {{ 'PAGE_SIGNUP_MSG_PASS_NOT_MATCH' | translate }}
          </div>
        </ion-label>

        <ion-item class="ion-no-padding" lines="none" color="white">
          <ion-grid>
            <ion-row class="ion-padding-top ">
              <ion-col size="1" class="ion-align-self-start">
                <ion-checkbox color="primary ion-no-margin" formControlName="terms"></ion-checkbox>
              </ion-col>
              <ion-col size="11">
                <span class="termos-de-uso">
                  {{ 'PAGE_SIGNUP_I_AGREE' | translate }}
                  <b class="termos" [routerLink]="['/login', 'criar-conta', 'termos-uso']">
                    {{ 'PAGE_SIGNUP_TERMS' | translate }}
                  </b>
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </form>
  </ion-card>
  <ion-button margin expand="block" [disabled]="!form.valid" (click)="submit()">
    {{ 'PAGE_SIGNUP_CONTINUE' | translate }}
  </ion-button>
  </ion-content> -->