<app-loading></app-loading>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-text">{{ 'PAGE_SIGNUP_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-card>
    <form [formGroup]="form">
      <ion-list style="background: white">
        <ion-item color="white">
          <ion-input type="text" formControlName="name" autocomplete="username" autocapitalize=words
            placeholder="{{ 'PAGE_SIGNUP_FULLNAME' | translate }}">
          </ion-input>
        </ion-item>
        
        <ion-item color="white">
          <ion-input type="email" [ngClass]="{'is-valid': form.get('email').errors}" autocomplete="email"
            formControlName="email" placeholder="E-mail">
          </ion-input>
        </ion-item>

        <ion-item color="white">
          <ion-input type="email" [ngClass]="{'is-valid': form.get('confirmEmail').errors}"
            formControlName="confirmEmail" autocomplete="email"
            placeholder="{{ 'PAGE_SIGNUP_CONFIRM_EMAIL' | translate }}">
          </ion-input>
        </ion-item>

        <ion-item color="white">
          <ion-input type="password" [ngClass]="{'is-valid': form.get('password').errors}" autocomplete="new-password"
            formControlName="password" placeholder="{{ 'PAGE_LOGIN_PASS' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('password').dirty && form.get('password').invalid" >
          <ion-label color="danger"><small>{{ 'PAGE_SIGNUP_MSG_MIN_PASS' | translate}}</small></ion-label>
        </ion-item>

        <ion-item color="white">
          <ion-input type="password" [ngClass]="{'is-valid': form.get('confirmPassword').errors}"
            formControlName="confirmPassword" autocomplete="new-password"
            placeholder="{{ 'PAGE_SIGNUP_CONFIRM_PASS' | translate }}">
          </ion-input>
        </ion-item>
        <ion-label *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
          <div class="error-form" *ngIf="form.get('confirmPassword').errors">
            {{ 'PAGE_SIGNUP_MSG_PASS_NOT_MATCH' | translate }}
          </div>
        </ion-label>

        <!-- <ion-item color="white" lines="full">
          <div class="upload-img" (click)="getImage()">
            <ion-icon [ngClass]="{'img-attached': form.get('profileImg').value}" name="images"></ion-icon>
            <div *ngIf="form.get('profileImg').value">
              {{ 'PAGE_SIGNUP_ADD_PICTURE_SUCCESS' | translate }}
            </div>
            <div *ngIf="!form.get('profileImg').value">
              {{ 'PAGE_SIGNUP_ADD_PICTURE' | translate }}
            </div>
          </div>
        </ion-item> -->

        <ion-item class="ion-no-padding" lines="none" color="white">
          <ion-grid>
            <ion-row class="ion-padding-top ">
              <ion-col size="1" class="ion-align-self-start">
                <ion-checkbox color="primary ion-no-margin" formControlName="terms"></ion-checkbox>
              </ion-col>
              <ion-col size="11">
                <span class="termos-de-uso">
                  {{ 'PAGE_SIGNUP_I_AGREE' | translate }}
                  <b class="termos" [routerLink]="['/login', 'criar-conta', 'termos-uso']">
                    {{ 'PAGE_SIGNUP_TERMS' | translate }}
                  </b>
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </form>
  </ion-card>
  <ion-button margin expand="block" [disabled]="!form.valid" (click)="submit()">
    {{ 'PAGE_SIGNUP_CONTINUE' | translate }}
  </ion-button>
  </ion-content>
