<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detalhe-evento"></ion-back-button>
    </ion-buttons>
    <ion-img src="assets/imgs/logo_login.png" class="add-item"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item *ngFor="let item of lotes">
      <ion-row>

        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <h4> SETOR {{item.setor == 1 ? 'PISTA' : item.setor == 2 ? 'CAMAROTE' : ''}}</h4>
            </ion-col>

            <ion-col size="12">
              <ion-label>{{item.descricao}} - R$ {{item.valor}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="6">
          <ion-row padding-vertical margin-vertical>
            <ion-col>
              <ion-badge class="circuloDiminuir" (click)="addItem(item)">-</ion-badge>
            </ion-col>

            <ion-col text-center>
              <ion-label class="qtd">{{item.qtdeSelecionada}}</ion-label>
            </ion-col>

            <ion-col>
              <ion-badge class="circuloSomar" (click)="removeItem(item)">+</ion-badge>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-row padding-top>
          <ion-col size="12">
            <ion-button expand="block" color="primary" (click)="concluirCompra()">
              <i class="fa fa-credit-card-alt button-icon" aria-hidden="true"></i> CONCLUIR COMPRA
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" fill="outline" color="primary" (click)="concluirCompra(true)">
              <i class="fa fa-shopping-cart button-icon" aria-hidden="true"></i> ADICIONAR NO CARRINHO
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>