.qtd{
    position: relative;
    top: 16%;
    left: 100%;
}

.circuloDiminuir{
    font-size: 18px;
    padding: 5px;
    border-radius: 100%;
    background: #dce1e4;
    color: black;
    min-height: 25px;
    min-width: 25px !important;
}

.circuloSomar{
    font-size: 18px;
    padding: 5px;
    border-radius: 100%;
    background-color: #f15b29;
    color: white;
    min-height: 25px;
    min-width: 25px !important;
    position: relative;
    left: 16px;

}
