.cart-selected {
    background: white !important;
    border-radius: 6px !important;
    opacity: 1 !important;
    padding: 6px !important;
    z-index: 999 !important;
}

.cart-selected i, .cart-selected p {
    color: #31343e !important;
}

.box-list-cartao {
    background: #31343e;
    box-shadow: 0px 3px 50px #00000029;
    border-radius: 6px;
    opacity: 1;
    padding: 6px !important;
    z-index: 999 !important;
}

.box-list-cartao i, .box-list-cartao p {
    color: white;
}