.box-list-cartao {
    background: #31343e;
    box-shadow: 0px 3px 50px #00000029;
    border-radius: 6px;
    opacity: 1;
    padding: 6px !important;
    z-index: 999 !important;
}

.img-btn-trash {
    width: 25px !important;
    height: 25px !important;
    padding: 3px !important;
    margin-top: 12px !important;
}
