<app-loading></app-loading>
<ion-header>
  <ion-toolbar class="text-center">
    <ion-row>
      <ion-col size="2" class="toolbar-buttons">
        <i class="fa fa-angle-left fa-lg color-white" (click)="back()" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="8" class="toolbar-icon">
        <img src="assets/icon/logo_navbar.png">
      </ion-col>
      <ion-col size="2" class="toolbar-buttons">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>

    <ion-card class="box">
      <ion-row padding>
        <ion-col>
          <p class="txt-large color-white" style="margin: 0px; padding-top: 5px;">ingressos</p>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <img class="img-expand-card" src="assets/icon/ic_carrinho.png" style="width: 50%">
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row padding>
        <ion-col size="7">
          <p class="txt-smaller color-white" style="text-align: left;">SETOR PISTA:</p>
          <p class="txt-smaller color-white" style="text-align: left;">1º Lote - R$30,00</p>
        </ion-col>
        <ion-col size="2">
          <img class="img-expand-card" src="assets/icon/ic_novo.png" style="width: 65%;">
        </ion-col>
        <ion-col size="1" class="txt-large color-white">
          <p class="txt-large color-white" style="padding-top: 5px;">1</p>
        </ion-col>
        <ion-col size="2">
          <img class="img-expand-card" src="assets/icon/ic_minimizar.png" style="width: 65%; margin-left: 7px;">
        </ion-col>
      </ion-row>
    </ion-card>

    <hr _ngcontent-thm-c0="" style="background-color: white;">
    <ion-card>
      <ion-row padding>
        <ion-col size="7">
          <p class="txt-smaller color-white" style="text-align: left;">SETOR CAMAROTE:</p>
          <p class="txt-smaller color-white" style="text-align: left;">1º Lote - R$50,00</p>
        </ion-col>
        <ion-col size="2">
          <img class="img-expand-card" src="assets/icon/ic_novo.png" style="width: 65%;">
        </ion-col>
        <ion-col size="1" class="txt-large color-white">
          <p class="txt-large color-white" style="padding-top: 5px;">1</p>
        </ion-col>
        <ion-col size="2">
          <img class="img-expand-card" src="assets/icon/ic_minimizar.png" style="width: 65%; margin-left: 7px;">
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row>
        <ion-col size="12">
          <button class="btn-white txt-medium txt-bold">
            <ion-row>
              <ion-col size="2" style="text-align: center;">
                <img src="assets/icon/ic_concluir_compra.png" style="text-align: left; width: 80%;" />
              </ion-col>
              <ion-col size="9" style="margin-top: 5px;">
                <p class="txt-smaller color-black" style="text-align: center;">CONCLUIR COMPRA</p>
              </ion-col>
            </ion-row>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <button class="btn-primary txt">
            <ion-row>
              <ion-col size="2" style="text-align: center;">
                <img src="assets/icon/ic_carrinho.png" style="text-align: left;width: 75%;" />
              </ion-col>
              <ion-col size="9" style="margin-top: 5px;">
                <p class="txt-smaller color-black" style="text-align: center;">ADICIONAR AO CARRINHO</p>
              </ion-col>
            </ion-row>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>
</ion-content>