// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.logo-menu {
    width: 50%;
}

::-webkit-input-placeholder {
    font-size: 12px;
    color: #222 !important;
}

p {
    margin: 0px !important;
    margin-bottom: 3px !important;
}

.add-item {
    position: absolute;
    right: 5%;
    top: 12%;
    width: 40px;
}

.toolbar-buttons {
    margin-top: 8px !important;
}
.toolbar-icon,
.toolbar-text {
    text-align: center !important;
}

ion-title {
    color: #1472d0;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    // font-weight: 200;
    text-align: center;
    margin-right: 3.5rem !important;
}

ion-item {
    color: black;
}

ion-menu-button,
ion-back-button {
    color: #1472d0 !important;
}

.select-placeholder {
    font-size: 12px !important;
}

ion-col .arrow {
    height: 30px;
}

ion-button {
    height: 45px;
}

.searchbar-input.sc-ion-searchbar-md,
.searchbar-input.sc-ion-searchbar-ios {
    box-shadow: none;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 12px;
    color: gray;
}

.tab-menu-img {
    padding-bottom: 5px;
}

.pac-item {
    line-height: 37px;
}

.ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-icon {
    padding-right: 10px !important;
}

// COLORS
.color-primary {
    color: #1a1d29 !important;
}
.color-secondary {
    color: #515c6f !important;
}
.color-white {
    color: #ffffff !important;
}

.color-tab-menu-unfocus {
    color: #a4a0a0 !important;
}

.color-blue {
    color: #0072d2 !important;
}

.color-blue-link {
    color: #86abdb !important;
}

.background-color-primary {
    --ion-background-color: #1a1d29 !important;
    background: #1a1d29 !important;
}

.background-color-secondary {
    --ion-background-color: #31343e !important;
}

.btn-white {
    background: #ffffff !important;
    opacity: 1 !important;
    border-radius: 60px !important;
    color: #31343e !important;
    width: 100% !important;
    padding: 6px;
    height: 48px;

    text-align: center;
    letter-spacing: 0px;
}

.btn-primary {
    background: transparent !important;
    border: 2px solid #ffffff !important;
    border-radius: 60px !important;
    color: #ffffff !important;
    width: 100% !important;
    padding: 6px;
    height: 48px;

    text-align: center;
    letter-spacing: 0px;
}

.btn-facebook {
    width: 100% !important;
    padding: 6px;
    background: #1975ed 0% 0% no-repeat padding-box;
    border-radius: 60px;
    opacity: 1;
}

.btn-google {
    width: 100% !important;
    padding: 6px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 60px;
    opacity: 1;
}

.input {
    background: #ffffff !important;
    border-radius: 12px !important;
    opacity: 1 !important;
    color: #515c6f !important;
    height: 40px !important;

    font-size: 14px !important;
    letter-spacing: 0px;

    padding-left: 10px !important;
    padding-right: 10px !important;
}

.input-error {
    border-radius: 12px !important;
    border: solid rgb(252, 127, 127) 2px !important;
}

.input-success {
    border-radius: 12px !important;
    border: solid rgb(140, 201, 140) 2px !important;
}

ion-title {
    color: #ffffff !important;
    text-align: center !important;
    font-size: 14px !important;
    letter-spacing: 0px;
    opacity: 1;
}

ion-back-button {
    color: #ffffff !important;
}

// TEXT

.txt {
    font-size: 14px !important;
    letter-spacing: 0px;
}

.txt-bold {
    font-weight: 600 !important;
    letter-spacing: 0px;
}

.txt-center {
    text-align: center !important;
}

.fa-angle-left {
    margin-top: -7px !important;
    padding: 15px !important;
}

.box {
    background: #31343e;
    box-shadow: 0px 3px 50px #00000029;
    border-radius: 16px;
    opacity: 1;
    z-index: 999 !important;
}

// SIZE

.txt-smaller {
    font-size: smaller !important;
}

.txt-small {
    font-size: small !important;
}

.txt-medium {
    font-size: medium !important;
}

.txt-large {
    font-size: large !important;
}

.txt-larger {
    font-size: larger !important;
}
