<app-loading></app-loading>
<ion-header>
  <ion-toolbar class="text-center">
    <ion-row>
      <ion-col size="2" class="toolbar-buttons">
        <i class="fa fa-angle-left fa-lg color-white" (click)="back()" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="8" class="toolbar-icon">
        <img src="assets/icon/logo_navbar.png">
      </ion-col>
      <ion-col size="2" class="toolbar-buttons">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="dadosEvento?.imagemUrl" style="width: 100% !important;" />

  <div padding>
    <ion-row no-padding>
      <ion-col size="12">
        <p class="txt-medium txt-bold color-white" no-margin>{{ dadosEvento?.titulo }}</p>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="2" class="img-btn-icon">
            <img src="assets/icon/ic_calendario.png">
          </ion-col>
          <ion-col size="9">
            <p class="txt-smaller color-white" no-margin>
              {{ getDateFormated(dadosEvento?.dataInicio, 'DD [de] MMMM') }} à
              {{ getDateFormated(dadosEvento?.dataFim, 'DD [de] MMMM') }}
            </p>
            <p class="txt-smaller txt-bold color-white" no-margin>
              {{ getDateFormated(dadosEvento?.dataInicio, 'dddd') }} à
              {{ getDateFormated(dadosEvento?.dataFim, 'dddd') }} das
              {{ getDateFormated(dadosEvento?.dataInicio, 'hh:mm') }} às
              {{ getDateFormated(dadosEvento?.dataFim, 'hh:mm') }}
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2" class="img-btn-icon">
            <img src="assets/icon/ic_endereco.png">
          </ion-col>
          <ion-col size="9">
            <p class="txt-smaller txt-bold color-white">{{ dadosEvento?.nomeLocal }}</p>
            <p class="txt-smaller color-white">{{ dadosEvento?.local }}</p>
            <p class="txt-smaller color-white" style="width: 100%; text-align: right;">ver Mapa</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-card class="box">
      <ion-row padding>
        <ion-col>
          <p class="txt-large color-white" style="margin: 0px; padding-top: 6px;">Descrição</p>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <img class="img-expand-card" src="assets/icon/ic_novo.png" *ngIf="!divDescricaoEnabled"
            (click)="divDescricaoEnabled = true">
          <img class="img-expand-card" src="assets/icon/ic_minimizar.png" *ngIf="divDescricaoEnabled"
            (click)="divDescricaoEnabled = false">
        </ion-col>
        <ion-col size="12" *ngIf="divDescricaoEnabled" padding>
          <p class="txt-smaller color-white">{{ dadosEvento?.descricao }}</p>
        </ion-col>
      </ion-row>
    </ion-card>

    <p class="txt-large txt-bold color-white" padding>Dias do Evento</p>

    <ion-card class="box" *ngFor="let dia of dadosEvento?.diasEvento">
      <ion-row padding>
        <ion-col>
          <p class="txt-large color-white" style="margin: 0px; padding-top: 6px;">
            {{ getDateFormated(dia?.dataInicio, '[Dia] DD/MM[,] dddd') }}
          </p>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <img class="img-expand-card" src="assets/icon/ic_novo.png" *ngIf="!dia?.divEnabled"
            (click)="dia.divEnabled = true">
          <img class="img-expand-card" src="assets/icon/ic_minimizar.png" *ngIf="dia?.divEnabled"
            (click)="dia.divEnabled = false">
        </ion-col>
        <ion-col size="12" *ngIf="dia?.divEnabled">

          <ion-row margin-top>
            <ion-col size="12">
              <p class="txt-smaller color-white">Abertura: {{ dia?.horaAbertura }}</p>
              <p class="txt-smaller color-white">Show: {{ dia?.horaShow }}</p>
              <p class="txt-smaller color-white">Censura: {{ dia?.censura }}</p>
            </ion-col>
            <ion-col size="12">
              <p class="txt-smaller color-white">Atrações:</p>
              <ion-row *ngFor="let atracao of dia?.atracoes">
                <ion-col size="2">
                  <img class="img-btn-icon-atracao" src="assets/icon/ic_site.png">
                </ion-col>
                <ion-col>
                  <p class="txt-smaller color-white">{{ atracao?.nome }}</p>
                  <a class="txt-smaller" [href]="atracao?.link" target="_blank">Contato da atração</a>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <button margin-top class="btn-white txt-small txt-bold" (click)="adquirirIngressos(dia)">
                Adquirir Ingressos para o dia {{ getDateFormated(dia?.dataInicio, 'DD/MM') }}
              </button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-card>

  </div>
</ion-content>