.img-btn-icon {
    text-align: right !important;
    margin-right: 3px !important;
}

.logo-toolbar {
    margin-top: 28px !important;
    margin-left: -65px !important;
}

.img-expand-card {
    width: 30px !important;
    margin-left: auto !important;
}