<app-loading></app-loading>

<ion-content padding>
  <div text-center>
    <img src="assets/icon/logo_login.png" class="img-logo" />
  </div>

  <form [formGroup]="form">

    <ion-row margin-top>
      <ion-col>
        <ion-input class="input" type="email txt" placeholder="E-mail" inputmode="email" formControlName="user"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="password" class="input txt" placeholder="Senha" inputmode="password" formControlName="password">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col>
        <button class="btn-primary txt" [routerLink]="['/login/criar-conta/true']">Cadastre-se</button>
      </ion-col>
      <ion-col>
        <button class="btn-white txt-bold" [disabled]="form.invalid" (click)="login()">Entrar</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col margin-top>
        <hr style="background: #FFFFFF; opacity: 1; height: 1px;">
      </ion-col>
      <ion-col padding-left padding-right style="margin-top: 5px !important;">
        <p class="txt-bold color-white txt-center" style="font-size: 12px;">ou</p>
      </ion-col>
      <ion-col margin-top>
        <hr style="background: #FFFFFF; opacity: 1; height: 1px;">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button class="btn-facebook" (click)="loginFacebook()">
          <img src="assets/icon/ic_facebook.svg" />
        </button>
      </ion-col>
      <ion-col>
        <button class="btn-google" (click)="loginWithGoogle()">
          <img src="assets/icon/ic_google.png" />
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col padding-left>
        <p text-left class="txt-bold color-white" style="font-size: 12px; padding-left: 20px;" [routerLink]="['/login/esqueci-senha']">
            Esqueceu sua senha?
        </p>
      </ion-col>
    </ion-row>

  </form>
  <!--

  <ion-grid ion-padding>
    <ion-row>
      <ion-col size="5" no-padding>
        <hr margin style="border-bottom: 1px solid #ccc;" />
      </ion-col>
      <ion-col size="2" align-self-center text-center no-padding>
        <small style="color: #ccc">{{ 'PAGE_LOGIN_OR' | translate }}</small>
      </ion-col>
      <ion-col size="5" no-padding>
        <hr margin style="border-bottom: 1px solid #ccc;" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="form">
    <ion-grid class="ion-padding" style="padding-top: 0">
      <ion-row class="ion-align-items-center rounded"
        [ngClass]="form.hasError('email', 'user') ? 'rounded-error' : 'rounded'">
        <ion-col class="ion-text-center" align-self-center="center" size="2">
          <ion-icon name="person" style="color:gray; font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-input type="email" class="ion-no-padding-horizontal" placeholder="{{ 'PAGE_LOGIN_USER' | translate }}"
            inputmode="email" formControlName="user"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center rounded ion-margin-top"
        [ngClass]="form.hasError('minlength', 'password') ? 'rounded-error' : 'rounded'">
        <ion-col class="ion-text-center" align-self-center="center" size="2">
          <ion-icon name="lock" style="color:gray; font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-input type="password" class="ion-no-padding-horizontal" placeholder="{{ 'PAGE_LOGIN_PASS' | translate }}"
            inputmode="password" formControlName="password"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="6">
        <ion-button expand="block" color="success" [routerLink]="['/login/criar-conta/true']">
          {{ 'PAGE_LOGIN_SIGNUP' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="primary" [disabled]="form.invalid" (click)="login()">
          {{ 'PAGE_LOGIN_LOGIN' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p text-center>
    <b class="esqueci-senha" [routerLink]="['/login/esqueci-senha']">
      {{ 'PAGE_LOGIN_FORGOT_PASS' | translate }}
    </b>
  </p> -->
</ion-content>