<app-loading></app-loading>
<ion-header>
  <ion-toolbar class="text-center">
    <ion-row>
      <ion-col size="2" class="toolbar-buttons">
        <i class="fa fa-angle-left fa-lg color-white" (click)="back()" aria-hidden="true"></i>
      </ion-col>
      <ion-col size="8" class="toolbar-text">
        <ion-title>Meu ticket</ion-title>
      </ion-col>
      <ion-col size="2" class="toolbar-buttons">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dadosCompra">
  <img [src]="dadosCompra.evento?.imagemUrl" style="width: 100% !important;" />

  <div padding>
    <ion-row no-padding>
      <ion-col size="12">
        <p class="txt-medium txt-bold color-white" no-margin>{{ dadosCompra.evento?.titulo }}</p>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="2" class="img-btn-icon">
            <img src="assets/icon/ic_calendario.png">
          </ion-col>
          <ion-col size="9">
            <p class="txt-smaller color-white" no-margin>
              {{ getDateFormated(dadosCompra.evento?.dataInicio, 'DD [de] MMMM') }} à
              {{ getDateFormated(dadosCompra.evento?.dataFim, 'DD [de] MMMM') }}
            </p>
            <p class="txt-smaller txt-bold color-white" no-margin>
              {{ getDateFormated(dadosCompra.evento?.dataInicio, 'dddd') }} à
              {{ getDateFormated(dadosCompra.evento?.dataFim, 'dddd') }} das
              {{ getDateFormated(dadosCompra.evento?.dataInicio, 'hh:mm') }} às
              {{ getDateFormated(dadosCompra.evento?.dataFim, 'hh:mm') }}
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2" class="img-btn-icon">
            <img src="assets/icon/ic_endereco.png">
          </ion-col>
          <ion-col size="9">
            <p class="txt-smaller txt-bold color-white">{{ dadosCompra.evento?.nomeLocal }}</p>
            <p class="txt-smaller color-white">{{ dadosCompra.evento?.local }}</p>
            <p class="txt-smaller color-white" style="width: 100%; text-align: right;">ver Mapa</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-card class="box" *ngFor="let dia of dadosCompra.evento?.diasEvento">
      <ion-row padding>
        <ion-col>
          <p class="txt-large color-white" style="margin: 0px; padding-top: 6px;">
            Detalhes da compra
          </p>
        </ion-col>
        <ion-col size="12">

          <ion-row>
            <ion-col size="12">
              <p class="txt-smaller color-white">Abertura: {{ dia?.horaAbertura }}</p>
              <p class="txt-smaller color-white">Show: {{ dia?.horaShow }}</p>
              <p class="txt-smaller color-white">Censura: {{ dia?.censura }}</p>
            </ion-col>
            <ion-col size="12">
              <p class="txt-smaller color-white">Atrações:</p>
              <ion-row *ngFor="let atracao of dia?.atracoes">
                <ion-col size="2">
                  <img class="img-btn-icon-atracao" src="assets/icon/ic_site@2x.png">
                </ion-col>
                <ion-col>
                  <p class="txt-smaller color-white">{{ atracao?.nome }}</p>
                  <a class="txt-smaller" [href]="atracao?.link" target="_blank">Contato da atração</a>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <button class="btn-white">
                <ion-row>
                  <ion-col size="2" style="text-align: center;">
                    <img src="assets/icon/ic_compartilhar_com_amigos.png" style="text-align: center; margin-top: -1px;" />
                  </ion-col>
                  <ion-col size="9" style="margin-top: 8px;">
                    <p class="txt-smaller txt-bold color-black" style="text-align: center;">
                      Compartilhe com seus amigos
                    </p>
                  </ion-col>
                </ion-row>
              </button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <div id="container">
        <ion-list>
          <ion-item>
            <ion-col text-center>
              <p>Ingressos</p>
            </ion-col>
          </ion-item>

          <ion-item class="container" *ngFor="let item of [1,2,3,4,5]" (click)="onClick(item)">
            <ion-col size="9">
              <p>Ingresso Nº {{item}}</p>
            </ion-col>
            <ion-col size="3" text-right>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </ion-col>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>


  </div>
</ion-content>