<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Informações do evento</ion-title> -->
    <ion-img src="assets/imgs/logo_login.png" class="add-item"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" text-center>
          <img [src]="dadosEvento?.imagemURL">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <div id="container">

      <!-- <ion-card *ngFor="let item of [0,1,2,3,4,5]">
        <ion-item>
          <ion-icon name="image" style="font-size: 64px;" slot="start"></ion-icon>
          <ion-label>Nome Produto...</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      </ion-card> -->

      <ion-list>

        <ion-item>
          <ion-avatar slot="start">
            <img [src]="dadosEvento?.imagemURL">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Data</h2>
                <p>{{dadosEvento?.dataInicio}}</p>
                <p>Abertura: 23:00</p>
                <p>Show: 00:00</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">

            <img src="assets/imgs/ban-8x.png">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Censura</h2>
                <p>16 Anos - Menores de 16 anos apenas acompanhados pelos ou responsável legal</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <i class="fas fa-map-marker-exclamation"></i>
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Local</h2>
                <p>R. Timbira, S/N - Centro - Várzea da Palma-MG</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Postos de Vendas</h2>
                <p>Várzea da Palma</p>
                <p>Pirapora</p>
                <p>Lassance</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col>
                <h2>Galerias</h2>
                <p>Fotos</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="primary" (click)="escolherIngresso()">
                  COMPRAR AGORA
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>
  </ion-card>

</ion-content>