.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-content {
  background-color: black;
  // background-image: url('/assets/splash.png');
  // background-position: center top;
  // background-repeat: no-repeat;
  // background-size: cover;
}