<app-loading></app-loading>
<ion-header>
  <ion-toolbar class="ion-text-center">
    <!-- <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-img src="assets/icon/logo_navbar@2x.png"
      style="width: 62px !important; margin-top: 28px !important; margin-left: calc(50vw - 29px);"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide style="padding: 5px !important;" *ngFor="let destaque of destaques" (click)="openLink(destaque)">
      <img [src]="destaque.imagemUrl" style="padding: 5px !important;" />
    </ion-slide>
  </ion-slides>

  <ion-card class="box-evento" *ngFor="let evento of eventos" (click)="visaoEvento(evento.id)">
    <ion-row no-padding>
      <ion-col size="5" no-padding>
        <ion-row no-padding>
          <ion-col size="12" no-padding>
            <img class="img-row" [src]="evento.imagemUrl">
          </ion-col>
        </ion-row>
        <ion-row class="text-align-center">
          <img class="img-btn-options" style="margin-left: auto !important;" src="assets/icon/ic_compartilhar.png">
          <img class="img-btn-options" style="margin-right: auto !important;" src="assets/icon/ic_curtir_on.png">
        </ion-row>
      </ion-col>
      <ion-col size="7" no-padding>
        <ion-row no-padding>
          <p class="txt-smaller color-white date-card">08 JAN > 10 JAN 21:00</p>
        </ion-row>
        <ion-row no-padding>
          <p class="txt-small txt-bold color-white title-card txt-bold">{{evento.titulo}}</p>
        </ion-row>
        <ion-row no-padding>
          <p class="color-white subtitle-card">Lorem ipsum dolor sit amet, consectetur sit amet, consectetur sit amet,
            consectetur adipiscing elit. Cras nonpretium nunc, at</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>

<app-tab-menu></app-tab-menu>